<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tab-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `tab-element`
     * Tabs para nav bar
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TabElement extends Polymer.Element {
      static get is() { return 'tab-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tab-element'
          }
        };
      }
    }

    window.customElements.define(TabElement.is, TabElement);
  </script>
</dom-module>
