<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-tabs/paper-tab.html">

<dom-module id="tab-element">
    <template>
    <style>
      :host {
        display: block;
      }
      .nav-bar{
        background-color: rgb(160, 37, 144);
        border-radius: 5px;
        width: 100%;
        height: 25px;
      }
      paper-tabs{
        padding: 0;
        margin: 0;
        height: 25px;
        display: flex;
        justify-content: space-around;
        align-items: center;

      }
      paper-tab  {
        font-size: 16px;
        font-weight:normal;
        color: white;
        width: 50%;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      paper-tab:hover{
        border-radius: 5px;
        background-color: rgb(112, 30, 108);
      }
    </style>

    <paper-tabs selected="0" class="nav-bar" scrollable>
        <paper-tab>Agregar Alumno</paper-tab>
        <paper-tab>Alumnos</paper-tab>
        <paper-tab>Maestros</paper-tab>
    </paper-tabs>
  </template>

    <script>
        /**
         * `tab-element`
         * Tabs para nav bar
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class TabElement extends Polymer.Element {
            static get is() {
                return 'tab-element';
            }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'tab-element'
                    }
                };
            }
        }

        window.customElements.define(TabElement.is, TabElement);
    </script>
</dom-module>